
/App/bin
/App/obj

/Build/ClientPath.cfg

/.vs

*.bin
*.csproj.user
*.DotSettings.user
*.exe
*.exe.config
*.exe.mdb
*.dll
*.dll.config
*.dll.mdb
*.idea
*.ini
*.log
*.pdb
*.sh
*.suo
*.deps.json
*.runtimeconfig.json

