
/MapCreator/bin
/MapCreator/obj

/Utilities/bin
/Utilities/obj

/Output/*

/.vs

*.bin
*.csproj.user
*.dll
*.DotSettings.user
*.exe
*.exe.config
*.exe.mdb
*.dll.config
*.idea
*.ini
*.log
*.pdb
*.sh
*.suo
