
/Cartography/bin
/Cartography/obj

/MapCreator/bin
/MapCreator/obj

/Output/*
!/Output/MapCompiler
!/Output/Development

/.vs

*.bin
*.csproj.user
*.dll
*.DotSettings.user
*.exe
*.exe.config
*.exe.mdb
*.dll.config
*.idea
*.ini
*.log
*.pdb
*.sh
*.suo
